[submodule "5/AymanAhmed"]
	path = 5/AymanAhmed
	url = https://github.com/eccentricayman/IMAGUUU.git
[submodule "10/PxlPfct-YeJ"]
	path = 10/PxlPfct-YeJ
	url = https://github.com/joel99/GraphicsHW1-ImagineAllThePixels.git
[submodule "5/firstimage"]
	path = 5/firstimage
	url = http://www.github.com/wvenderbush/firstimage
[submodule "5/wvenderbush"]
	path = 5/wvenderbush
	url = http://www.github.com/wvenderbush/firstimage
[submodule "4/chris_sher"]
	path = 4/chris_sher
	url = https://github.com/csherling/picmaker_graphics.git
[submodule "10/wong_billy"]
	path = 10/wong_billy
	url = git@github.com:billywongstuy/Graphics-pixels1.git
[submodule "5/james"]
	path = 5/james_wang
	url = https://github.com/james9909/picmaker
[submodule "10/xu_xinhui"]
	path = 10/xu_xinhui
	url = https://github.com/xinhuixu/picmaker
[submodule "5/ruochong_wu"]
	path = 5/ruochong_wu
	url = https://github.com/wuruochong/GraphicsW1.git
[submodule "5/oliver_chen"]
	path = 5/oliver_chen
	url = https://github.com/Chen-Oliver/pixelated.git
[submodule "4/emma_vukelj"]
	path = 4/emma_vukelj
	url = https://github.com/evookelj/graphics-1.git
[submodule "10/brian_yang"]
	path = 10/brian_yang
	url = https://github.com/brian-yang/Graphics-Picmaker.git
[submodule "10/calvin_vuong"]
	path = 10/calvin_vuong
	url = https://github.com/calvinvuong/graphics_intro_assignment.git
[submodule "10/alvin_zhu"]
	path = 10/alvin_zhu
	url = https://github.com/alvinzhu33/00_graphics.git
[submodule "4/haley_zeng"]
	path = 4/haley_zeng
	url = https://github.com/hhzrabbit/firstimage.git
[submodule "4/vandana_agarwala"]
	path = 4/vandana_agarwala
	url = https://github.com/vagarwala/Graphics-Work1.git
[submodule "4/yikai_wang"]
	path = 4/yikai_wang
	url = https://github.com/getDolla/Graphics01.git
[submodule "5/gio_topa"]
	path = 5/gio_topa
	url = https://github.com/gTopa/graphicsHW1.git
[submodule "10/john_park"]
	path = 10/john_park
	url = https://github.com/parkjmjohn/Work1.git
[submodule "10/anthony_liang"]
	path = 10/anthony_liang
	url = https://github.com/aliang8/picmaker.git
[submodule "10/charles_zhang"]
	path = 10/charles_zhang
	url = https://github.com/charles-ah/graphics-work1.git
[submodule "4/zicheng_zhen"]
	path = 4/zicheng_zhen
	url = https://github.com/Zzcnick/graphics_intro.git
[submodule "5/kevinZhang"]
	path = 5/kevinZhang
	url = https://github.com/fierydarkwraith/simpleImage.git
[submodule "10/vanna_mavromatis"]
	path = 10/vanna_mavromatis
	url = https://github.com/Vanna-M/picMaker.git
[submodule "4/reo_kimura"]
	path = 4/reo_kimura
	url = https://github.com/oreo21/picmaker_F06.git
[submodule "4/yvonne_chan"]
	path = 4/yvonne_chan
	url = https://github.com/ChanYvonne/Graphics-Picmaker.git
[submodule "5/kevin_hwang"]
	path = 5/kevin_hwang
	url = https://github.com/khwang2337/image
[submodule "10/grace_stempel"]
	path = 10/grace_stempel
	url = https://github.com/gstempel/01_ImagineAllDemPixels.git
[submodule "5/felix_rieg-baumhauer"]
	path = 5/felix_rieg-baumhauer
	url = https://github.com/FelixRiegBaumhauer/Imagine_the_Pixels.git
[submodule "10/jason_chua"]
	path = 10/jason_chua
	url = https://github.com/jchua1/picmaker.git
[submodule "5/jackson_morgan"]
	path = 5/jackson_morgan
	url = https://github.com/jmorgan28/hw1.git
[submodule "10/FirstPicture"]
	path = 10/FirstPicture
	url = https://github.com/plwslw/FirstPicture
[submodule "10/Steven_LW"]
	path = 10/Steven_LW
	url = https://github.com/plwslw/FirstPicture
