[submodule "5/AymanAhmed"]
	path = 5/AymanAhmed
	url = https://github.com/eccentricayman/IMAGUUU.git
[submodule "10/PxlPfct-YeJ"]
	path = 10/PxlPfct-YeJ
	url = https://github.com/joel99/GraphicsHW1-ImagineAllThePixels.git
[submodule "5/firstimage"]
	path = 5/firstimage
	url = http://www.github.com/wvenderbush/firstimage
[submodule "5/wvenderbush"]
	path = 5/wvenderbush
	url = http://www.github.com/wvenderbush/firstimage
[submodule "4/chris_sher"]
	path = 4/chris_sher
	url = https://github.com/csherling/picmaker_graphics.git
[submodule "10/wong_billy"]
	path = 10/wong_billy
	url = git@github.com:billywongstuy/Graphics-pixels1.git
[submodule "5/james"]
	path = 5/james_wang
	url = https://github.com/james9909/picmaker
[submodule "10/xu_xinhui"]
	path = 10/xu_xinhui
	url = https://github.com/xinhuixu/picmaker
[submodule "5/ruochong_wu"]
	path = 5/ruochong_wu
	url = https://github.com/wuruochong/GraphicsW1.git
[submodule "5/oliver_chen"]
	path = 5/oliver_chen
	url = https://github.com/Chen-Oliver/pixelated.git
[submodule "4/emma_vukelj"]
	path = 4/emma_vukelj
	url = https://github.com/evookelj/graphics-1.git
[submodule "10/brian_yang"]
	path = 10/brian_yang
	url = https://github.com/brian-yang/Graphics-Picmaker.git
[submodule "10/calvin_vuong"]
	path = 10/calvin_vuong
	url = https://github.com/calvinvuong/graphics_intro_assignment.git
